@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
  font-size: calc(1vw / 3.2);
  background-color:  #fafafa;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: calc(1vw / 19.2);
  }
};

